{
  "report-dir": "./coverage/client",
  "reporter": [
    "lcov",
    "html"
  ],
  "extension": [
    ".jsx"
  ],
  "exclude": [
    "client/test"
  ],
  "check-coverage": true,
  "statements": 75,
  "branches": 60,
  "functions": 30,
  "lines": 75
}
